# Autoscrap, Prepo
pandas
beautifulsoup4
tqdm
selenium
webdriver_manager
selenium-stealth
sqlalchemy
pymysql # untuk autoscrap
scikit-learn==1.4.2

# Web
django
django-extensions
mysqlclient # untuk django
