<html>
    <nav class="bg-white shadow-md" style="font-family: Mitr">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <a href="{% url 'index' %}" class="flex-shrink-0">
                        <img src="https://i.ibb.co.com/jb0zQww/Rumah-Rumah-1.png" alt="Logo" class="h-10 w-10">
                    </a>
                    <a href="{% url 'index' %}" class="ml-2 text-xl text-gray-900 hover:text-orange-400">Rumah.in</a>
                </div>
                <div class="flex items-center">
                    <div class="hidden md:flex">
                        <a href="{% url 'index' %}" class="ml-4 text-gray-800 hover:text-orange-400">Home</a>
                        <a href="{% url 'result' %}" class="ml-4 text-gray-800 hover:text-orange-400">Dashboard</a>
                        <a href="{% url 'analyzer' %}" class="ml-4 text-gray-800 hover:text-orange-400">Analyzer</a>
                    </div>
                </div>
                <!-- Tombol Hamburger untuk Tampilan Responsif -->
                <div class="flex md:hidden">
                    <button id="mobile-menu-btn" class="outline-none mobile-menu-btn">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="h-1 bg-[#f2a057]"></div>
        <!-- Menu Dropdown untuk Tampilan Responsif -->
        <div id="mobile-menu" class="hidden md:hidden">
            <a href="{% url 'index' %}" class="block py-2 px-4 text-sm text-gray-800 hover:text-orange-400">Home</a>
            <a href="{% url 'result' %}" class="block py-2 px-4 text-sm text-gray-800 hover:text-orange-400">Dashboard</a>
            <a href="{% url 'analyzer' %}" class="block py-2 px-4 text-sm text-gray-800 hover:text-orange-400">Analyzer</a>
        </div>
    </nav>
</html>